<div class="col-md-12" ng-controller="CreateClientController">
    <ul class="breadcrumb">
        <li ng-if="!groupid"><a href="#/clients">{{'label.anchor.clients' | translate}}</a></li>
        <li ng-if="groupid"><a href="#/groups">{{'label.anchor.groups' | translate}}</a></li>
        <li ng-if="groupid"><a href="#/viewgroup/{{groupid}}">{{'label.anchor.viewgroup' | translate}}</a></li>
        <li class="active">{{'label.anchor.createclient' | translate}}</li>
    </ul>
	<form name="createclientform" novalidate="" class="form-horizontal well" rc-submit="submit()">
	  <div class="well"><api-validate> </api-validate></div>{{errors}}
	    <fieldset>
	        <legend>{{'label.heading.createclient' | translate}}</legend>
	        <div class="form-group">
	            <label class="control-label col-sm-2">
	                {{'label.input.office' | translate}} <span ng-show="forceOffice == null" class="required">*</span>
	            </label>

	            <div class="col-sm-3">
	                <div ng-show="forceOffice == null">
	                    <select chosen="offices" id="officeId" ng-model="formData.officeId"  class="form-control"
	                            ng-options="office.id as office.name for office in offices" value="{{office.id}}"
	                            ng-change="changeOffice(formData.officeId)"></select>
	                </div>
	                <div ng-show="forceOffice != null">
	                    <p class="form-control-static">{{forceOffice.name}}</p>
	                </div>
	            </div>
	            <label class="control-label col-sm-2">{{'Sourcing By' | translate}}</label>

	            <div class="col-sm-3">
	                <select chosen="staffs" id="staffId" ng-model="formData.staffId"  class="form-control"
	                        ng-options="staff.id as staff.displayName for staff in staffs" value="{{staff.id}}">
                        <option value="">--{{'label.menu.selectloanofficer' | translate}}--</option>
	                </select>
	            </div>
	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-2" for="firstname">{{ 'label.input.firstname' | translate }}<span
	                    class="required">*</span></label>

	            <div class="col-sm-3">
	                <input style="text-transform: uppercase" type="text" id="firstname" name="firstname" ng-model="formData.firstname" ng-pattern="/^[A-Za-z\s]+$/" class="form-control" required
	                       late-Validate/>
	                      <div class="col-sm-2">
	                <form-validate valattributeform="createclientform" valattribute="firstname"/>
	            </div>
	            </div>

	       </div>
	       <div class="form-group">
	            <label class="control-label col-sm-2" for="middlename">{{'label.input.middlename' | translate}}</label>

	            <div class="col-sm-3">
	                <input style="text-transform: uppercase" type="text" id="middlename" ng-model="formData.middlename" ng-pattern="/^[A-Za-z\s]+$/" class="form-control"/>
	            </div>


	        </div>
	        <div class="form-group">
	            <label class="control-label col-sm-2" for="lastname">{{'label.input.lastname' | translate}}</label>
							  <span ng-show="createclientform.lastname.$invalid && createclientform.lastname.$dirty">
	                      <small class="required" ng-show="createclientform.lastname.$error.pattern">
	                          {{'Please enter correct lastname' | translate}}
	                      </small>
		                </span>
	            <div class="col-sm-3">
	                <input style="text-transform: uppercase" type="text" id="lastname" name="lastname" ng-model="formData.lastname" ng-pattern="/^[A-Za-z\s]+$/" class="form-control"/>
	            </div>

	            <div class="col-sm-2">

	            </div>


	        </div>

          <div class="form-group">
	            <label class="control-label col-sm-2">{{ 'Father / Husband' }}:<span
	                    class="required">*</span></label>


	            <div class="col-sm-3">
	                <input style="text-transform: uppercase" type="text" id="fathername" name="fathername" ng-model="formData.fathername"  ng-pattern="/^[A-Za-z\s]+$/" class="form-control" required
	                       late-Validate/>
	                       <span ng-show="createclientform.fathername.$invalid && createclientform.fathername.$dirty">
	                      <small class="required" ng-show="createclientform.fathername.$error.pattern">
	                          {{'Please enter correct fathername' | translate}}
	                      </small>
		                </span>
	                       <form-validate valattributeform="createclientform" valattribute="fathername"/>
	             </div>



              <label class="control-label col-sm-2">{{'Dependents' | translate}}</label>
              <div class="col-sm-3">
                <select id="religionId" ng-model="formData.dependentId"  class="form-control"
                        ng-options="dependent.id as dependent.name for dependent in dependentOptions" value="{{dependent.id}}">
                    <option value="">--{{'Dependents' | translate}}--</option>
                </select>

              </div>
	        </div>
			<div class="form-group">
	            <label class="control-label col-sm-2" for="mobileNo">{{'label.input.mobilenumber' | translate}}<span
	                    class="required">*</span></label>

	            <div class="col-sm-3">
	                <input type="text" id="mobileNo" name="mobileNo" ng-model="formData.mobileNo"
	                       ng-pattern="/^[0-9]+$/"   ng-minlength=10 ng-maxlength=10 class="form-control"/>
	                       <span class="help-block" ng-show="((createclientform.mobileNo.$error.minlength || createclientform.mobileNo.$error.maxlength) && createclientform.mobileNo.$dirty) ">phone number should be 10 digits</span>

	                       <span ng-show="createclientform.mobileNo.$invalid && createclientform.mobileNo.$dirty">
	                      <small class="required" ng-show="createclientform.mobileNo.$error.pattern">
	                          {{'label.mustbenumeric' | translate}}
	                      </small>
		                </span>
	            </div>


		                 <label class="control-label col-sm-2">{{'Education Type' | translate}}</label>
              <div class="col-sm-3">
                <select id="educationId" ng-model="formData.educationId"  class="form-control"
                        ng-options="education.id as education.name for education in educationOptions" value="{{education.id}}">
                    <option value="">--{{'Education' | translate}}--</option>
                </select>

              </div>


	        </div>

          <div class="form-group">

	            <label class="control-label col-sm-2" for="emailAddress">{{'Email Address' | translate}}</label>

	            <div class="col-sm-3">
	                <input  type="email" id="emailAddress" name="emailAddress" se ng-model="formData.emailAddress" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
	                         class="form-control" lateValidate/>
	                         <span ng-show="createclientform.emailAddress.$invalid && createclientform.emailAddress.$dirty">
	                      <small class="required" ng-show="createclientform.emailAddress.$error.pattern">
	                          {{'email address entered is wrong' | translate}}
	                      </small>
		                </span>
	                         <form-validate valattributeform="createclientform" valattribute="emailAddress"/>

	            </div>
              <label class="control-label col-sm-2">{{'Religion' | translate}}</label>
	            <div class="col-sm-3">
                <select id="religionId" ng-model="formData.religionId"  class="form-control"
                        ng-options="religion.id as religion.name for religion in religionOptions" value="{{religion.id}}">
                    <option value="">--{{'Religion' | translate}}--</option>
                </select>

	            </div>

	        </div>

	         <div class="form-group">
	            <label class="control-label col-sm-2">{{'label.input.dateofbirth' | translate}}<span
	                    class="required">*</span></label>

	            <div class="col-sm-3">
	                <input id="dateofbirth" type="text" name="dateofbirth" datepicker-pop="dd MMMM yyyy"
	                       ng-model="first.dateOfBirth" required is-open="opened1"    class="form-control" lateValidate/>
	                       <form-validate valattributeform="createclientform" valattribute="dateOfBirth"/>
	            </div>
	            <label class="control-label col-sm-2">{{'label.input.gender' | translate}}</label>

	            <div class="col-sm-3">
	                <select id="genderId" ng-model="formData.genderId"  class="form-control"
	                        ng-options="gender.id as gender.name for gender in genderOptions" value="{{gender.id}}">
	                    <option value="">--{{'label.menu.gender' | translate}}--</option>
	                </select>
	            </div>
	        </div>
            <div class="form-group">
                <label class="control-label col-sm-2">{{'Client Category'}}</label>

                <div class="col-sm-3">
                    <select id="clienttypeId" ng-model="formData.clientTypeId"  class="form-control"
                            ng-options="clienttype.id as clienttype.name for clienttype in clienttypeOptions" value="{{clienttype.id}}">
                        <option value="">--{{'label.menu.clienttype' | translate}}--</option>
                    </select>
                </div>

                <label class="control-label col-sm-2">{{'label.input.clientclassification' | translate}}</label>

                <div class="col-sm-3">
                    <select id="clientClassificationId" ng-model="formData.clientClassificationId"  class="form-control"
                            ng-options="clientClassification.id as clientClassification.name for clientClassification in clientClassificationOptions" value="{{clientClassification.id}}">
                        <option value="">--{{'label.menu.clientclassification' | translate}}--</option>
                    </select>
                </div>
            </div>
	        <div class="form-group">
	            <label class="control-label col-sm-2" for="externalId">{{'PAN' | translate}}</label>


	            <div class="col-sm-3">
	                <input  style="text-transform: uppercase" type="text" id="externalId" name="externalId" ng-model="formData.externalId" ng-pattern="/^([a-zA-Z]){5}([0-9]){4}([a-zA-Z]){1}?$/" class="form-control" lateValidate/>
	                <span ng-show="createclientform.externalId.$invalid && createclientform.externalId.$dirty">
	                      <small class="required" ng-show="createclientform.externalId.$error.pattern">

	                          {{'Ohh...this is wrong PAN card' | translate}}
	                      </small>
		                </span>
	                <form-validate valattributeform="createclientform" valattribute="externalId"/>

	            </div>

              <label class="control-label col-sm-2">{{'Marital Stat' | translate}}</label>

              <div class="col-sm-3">
                  <select id="maritalId" ng-model="formData.maritalId"  class="form-control"
                          ng-options="marital.id as marital.name for marital in maritalOptions" value="{{marital.id}}">
                      <option value="">--{{'Marital Stat' | translate}}--</option>
                  </select>
              </div>
	        </div>

	        <div class="form-group">
	            <label class="control-label col-sm-2">{{'label.input.submittedon' | translate}}</label>

	            <div class="col-sm-3">
	                <input id="submittedon" type="text" name="submittedon" datepicker-pop="dd MMMM yyyy"
	                       ng-model="first.submitondate" is-open="opened1" min="'2000-01-01'" max="restrictDate"  class="form-control"/>
	            </div>
	        </div>
	         <div class="form-group">
	            <label class="control-label col-sm-2">{{'Send Otp' | translate}}</label>

	            <div class="col-sm-3">
	                <input type="checkbox" data-ng-model="otp">
	        </div>
        </div>
	        <div class="form-group" ng-show="showSavingOptions">
	            <label class="control-label col-sm-2">{{ 'label.input.opensavingsproduct' | translate }}&nbsp;</label>

	            <div class="col-sm-3">
	                <input id="opensavingsproduct" type="checkbox" ng-model="opensavingsproduct" ng-true-value="true"
	                       ng-false-value="false">
	            </div>
		        <div ng-show="opensavingsproduct">
		            <label class="control-label col-sm-2">{{'label.input.savingproduct' | translate}}</label>

		            <div class="col-sm-3">
		                <select id="savingsProductId" ng-model="formData.savingsProductId"
		                        ng-options="savingProduct.id as savingProduct.name for savingProduct in savingproducts"
		                        value="{{savingProduct.id}}"  class="form-control">
		                    <option value="">--{{'label.menu.selectsavingproduct' | translate}}--</option>
		                </select>
		            </div>
		        </div>
		    </div>
		    <div class="col-md-offset-5">
	            <a id="cancel" ng-href="{{cancel}}" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
	            <button id="save" type="submit" class="btn btn-primary"  ng-hide="blockUI" has-permission='CREATE_CLIENT'>{{'label.button.save' | translate}}</button>
                <button class="btn btn-info" ng-show="blockUI"><strong>{{'label.button.processing' | translate}}</strong></button>
	        </div>

	    </fieldset>
	</form>

</div>
